.navbar {
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0px;
  margin: 0 0 1rem 0;
  width: 100%;
}

.navbar h2 {
  padding: 0.5rem 0px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.header {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.header h2 {
  margin: 0;
}

.toggle {
  /* Check against its definition in ThemeToggle.jsx */
  /* width: 100px;  */
  margin-left: auto;
  padding-right: 1rem;
}

.title::before {
  content: "";
  width: 3rem;
  /* Width should be equal to the total left margin + padding of the toggle */
  margin-right: auto;
  display: block;
}

.content ul {
  display: flex;
  list-style-type: none;
  /* margin: 10px 0px 0px 0px; */
  padding: 0;
  width: 100%;
}

.content ul li:not(:last-child)::after {
  content: "-";
  margin: 0 15px;
  color: var(--foreground);
}

.active {
  color: var(--accent);
}

.burger {
  display: none;
  cursor: pointer;
}

.title .toggle {
  display: block;
}

.content .toggle {
  display: none;
}

@media only screen and (max-width: 725px) {
  .content {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
  }
  
  .expanded {
    max-height: 1000px; /* Adjust based on actual content size */
    opacity: 1;
    transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
  }
  

  .content .toggle {
    display: block;
  }

  .title .toggle {
    display: none;
    align-items: center;
  }

  .burger {
    display: block;
    padding-right: 30px;
  }

  .burgerMenuClosed {
    color: var(--foreground);
    transition: 0.3s;
  }

  .burgerMenuOpen {
    color: var(--accent);
    transition: 0.3s;
  }

  .header {
    /* display: block; */
    width: auto;
    padding-left: 20px;
  }

  .title::before {
    display: none;
  }

  .content ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
  }

  .content ul li:not(:last-child)::after {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
}
