.navbar {
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0px;
  margin: 0 0 1rem 0;
  width: 100%;
}

.navbar a:hover {
  font-style: italic;
  color: var(--accent);
  transition: all 0.2s ease;
}

.navbar h2 {
  padding: 1rem 0px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.header {
  flex-grow: 1;
  display: flex;
  padding-left: 3rem;
}

.header h2 {
  margin: 0;
}

.toggle {
  margin-left: auto;
  padding-right: 3rem;
}

.iconContainer {
  position: relative;
  width: 50px;
  height: 50px;
}

.iconContainer .icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.content ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.content ul li:not(:last-child)::after {
  content: "-";
  margin: 0 15px;
  color: var(--foreground);
  font-weight: normal;
  transition: 0.3s;
}

.active {
  color: var(--accent);
  font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
}

.title .toggle {
  display: block;
}

.content .toggle {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .content {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
  }

  .expanded {
    max-height: 500px; /* Adjust based on actual content size */
    opacity: 1;
    transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
  }

  .content .toggle {
    display: block;
  }

  .title .toggle {
    display: none;
    align-items: center;
  }

  .toggle {
    padding-right: 1rem;
  }

  .burger {
    display: block;
    padding: 0px 20px 0 10px;
  }

  .burgerMenuClosed {
    color: var(--foreground);
    transition: 0.3s;
  }

  .burgerMenuOpen {
    color: var(--accent);
    transition: 0.3s;
  }

  .header {
    /* display: block; */
    width: auto;
    justify-content: center;
    padding-left: 3rem;
  }

  .title::before {
    display: none;
  }

  .content ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
  }

  .content ul li:not(:last-child)::after {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
}
