.ExtracurricularItem {
  max-width: 95vw; /* Example max-width */
  margin: 10px auto; /* Center align the component */
  text-align: center; /* Center align the text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  /* max-width: 700px;  */
  height: 55vh;
  max-width: auto;
  min-width: auto;
  /* height: auto;  */
  padding: 1rem;
  margin: 0 auto;
}

.PortfolioItem p {
  padding: 10px 0;
}

@media (max-width: 750px) {
  .PortfolioItem {
    max-width: 95vw; /* Example max-width */
    margin: 10px auto; /* Center align the component */
    text-align: center; /* Center align the text */
  }

  .image {
    height: 40vh; /* Maintain aspect ratio */
    padding: 1rem;
    flex-shrink: 0;
  }
}
