.PortfolioItem {
  max-width: 75vw; /* Example max-width */
  margin: 10px auto; /* Center align the component */
  text-align: center; /* Center align the text */
}

.image {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  display: none;
  padding: 1rem;
}

.lightModeImage {
  display: block;
}

[data-theme="dark"] .lightModeImage {
  display: none;
}

[data-theme="dark"] .darkModeImage {
  display: block;
}

.PortfolioItem p {
  padding: 10px 0;
}
