.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  padding: 100px 0;
}

.content {
  display: flex;
  flex-direction: row;
  max-width: 95vw;
  flex: 1;
  align-items: center;
}

.blurb {
  max-width: 65vw;
}

.headshot img {
  width: 300px;
  height: auto;
}

@media (max-width: 1250px) {
  .parent {
    padding: 0;
  }

  .content {
    flex-direction: row;
    max-width: auto;
    height: auto;
    align-items: center;
  }

  .blurb {
    max-width: 85vw;
  }

  .headshot img {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 600px) {


  .headshot img {
    max-height: 25vh;
    width: auto;
  }


}

@media (max-width: 450px) {
  .headshot img {
    max-height: 15vh;
    width: auto;
  }
}
