.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 75px 0;
}

.spacer {
  /* flex-grow: 1;
  flex-shrink: 1; */
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 95vw;
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 1200px) {
  .parent {
    display: inline-block;
    align-items: center;

    padding: 0px 30px;
  }

  .content {
    display: inline-block;
  }
}
