@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #620097;
  --background: #ede8e8;
  --accent: #f02;
  --font-body: 'Fira Code', monospace;
  --font-header: 'Fira Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fdba31;
    --background: #260052;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);}
